body{
		background-color: 	#F0FFFF;
}
div{
	
}
#QorA-area{
	position: absolute;
    left: 30%; 
	top : 54%;
}
#post_push_area{
	position: absolute;
    left: 30%;
    top : 20%;
	height:211px;
	width:540px;
	clear:both;

}
#post_push_btn{
	position: absolute;
    width: 100px;
    height: 30px;
	margin-top : 170px;
	margin-left : 436px;
	background-color: #8b9dc3;
	  position: absolute;    
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
	
}
#postsDiv{
	position: absolute;
    left: 30%;
    top : 60%;
}
#post_text{
	position: absolute;
    width: 520px;
    height: 100px;
    margin-top:50px;
}

#search_title_text{
	position: absolute;
    width: 520px;
    height: 20px;
    margin-top :10px;
}

#search_post_text{
	width: 450px;
	margin-left :4px;
}
#search_container{
	width:530px;
}
/* hide input */
input.radio:empty {
	margin-left: -999px;
}
#radio1{
	left:0;
}
select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

#blue {
  background-color:#3498DB;
}
#p-blue{
  background-color:#3498DB;
}

#blue:hover {
  background-color:#2980B9;
}
#p-blue:hover {
  background-color:#2980B9;
}
select:focus, select:active {
  border:0;
  outline:0;
}
.post-text-area{
	position: absolute;
    left: 30%;
	 top : 11%;
    width: 520px;
}
#search-dropdown{
	left: 30%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
 	width: 530px;
	height : 40px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: absolute;
    left: 30%;
    width: 100px;
    height: 20px;
	z-index: 2;
}
#post_dropdown{
	left: 24%;
	top : 0%;
	z-index: 1;
	height : 46px;
	
}
#post_dropbtn{
    background-color:#3498DB;
    color: white;
	width: 410px;
	z-index: 1;
	height : 40px;
	font-family:arial,tahoma;
  	font-size:16px;
  	font-weight:bold;
  	color:#fff;
  	text-align:center;
  	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  	border-radius:3px;
  	-webkit-border-radius:3px;
  	-webkit-appearance: none;
  	border:0;
  	outline:0;
  	-webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profpic {
  border: 10px solid #fff;  
  float: left;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin-left:80px;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
.dropdown-content a {
    color: black;
    padding: 3px 10px;
    text-decoration: none;
	font-size: 20px;
    display: block;
}
.dropdown-content textarea {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

textarea {
  width: 560px;
  height: 50px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
#main3button{
	position: absolute;
	left: 950px;
}
#homepage{
	padding: 5px;
	border: none;
	border-radius: 2px;
	width: 80px;
	height: 30px;
	background-color: #00BFFF;
	cursor: pointer;
}
#homepage:hover{
	width: 100px;
	height: 40px;
}
#editProfile{
	border: none;
	border-radius: 2px;
	width: 80px;
	height: 30px;
	background-color: #00BFFF;
	cursor: pointer;
}
#editProfile:hover{
	width: 100px;
	height: 40px;
}
#logout{
	border: none;
	border-radius: 2px;
	width: 80px;
	height: 30px;
	background-color: #00BFFF;
	cursor: pointer;
}
#logout:hover{
	width: 100px;
	height: 40px;
}