.post {
			width: 500px;
			height: 150px;
			padding: 15px;
			border: 3px solid grey;
			position: relative;
			left: 30%;
			top: 20%;
			margin-top: 50px;
}
.author {
			float: left;
			width: 100px;
			height: 100px;
}
.type {
			float: right;
			width: 30px;
			height: 30px;
}
.image {
			width: 80px;
			height: 80px;
			
}
.author_name, .date {
			width: 100px;
			height: 25px;
			line-height: 25px;
}
.body {
			position: absolute;
			width: 400px;
			height: 150px;
			left: 130px;
}
.meta_info {
			position: absolute;
			left: -3px;
			top: 147px;
}
.votes {
			top: -30px;		
			float: left;
			margin-right: 20px;*/
}
.share{
		float: right;
		margin-right: 20px;
		font-size: 120%;
}
.arrow{
	border: 3px solid grey;
	bottom: 20px;
	width: 30px;
	height: 30px;	
	
	
}

#down-arrow{
	width: 100%;
	height: 100%;
}
#up-arrow{
	width: 100%;
	height: 100%;
}
.vote-count{
	font-size: large;
	font-weight: bold;
	color: grey;
	margin-left: 7px;
}

#iamge-share{
	width: 120px;
}

.share{
	margin-top: 2px;
	margin-left: 20px;
}
.vote-name{
	margin-left: 20px;
}
.title{
	font-size: xx-large;
	color: #6c6c6c;
	font-weight: bold;
}
.text{
	font-style: italic;
	font-size: large;
}

.user-info{
	margin-top: 3px;
	font-size: large;
	font-weight: bold;
	color: black;
}
.link{
text-decoration: none;
}



