#name {
	font-size: 150%
}

#surname {
	font-size: 150%
}

#username {
	font-size: 150%
}

#mail {
	font-size: 150%
}

#password {
	font-size: 150%
}

#password-again {
	font-size: 150%
}

#button {
	font-size: 150%
}